<h2>Game Result</h2>
<div ng-repeat="gameCategory in GameCategories">
    <h3>{{gameCategory|| 'Niet ingedeeld' }}</h3>
    <ol>
        <li ng-repeat="scoreCard in categoryScoreCards(gameCategory) | orderBy:'-TotalScore'">
            <a href="#/scorecard/{{scoreCard.Id}}">{{scoreCard.Player.Name}} (score: {{scoreCard.TotalScore}})</a>
        </li>
    </ol>
</div>
<hr/>
<button ng-click="calcScores(ScoreCards,false)">Normale Score</button>
<button ng-click="calcScores(ScoreCards,true)">Alternatieve Score</button>
<button ng-click="newCard()">Invoeren</button>